<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-grid>
        <!--<ng-container ng-repeat="let libraryItem of photos">-->
          <ng-container *ngFor="let str of test">
            <div>itemmm</div>
          </ng-container>
            <ng-container *ngFor="let libraryItem of photos; let index=index;">
                <div>item</div>
        <ion-row ng-if="index % 3 === 0">

          <ion-col>
            <img id="image-{{index}}">
            <!--<img [src]="libraryItem.thumbnailURL  | cdvphotolibrary">-->
            <div>{{index}} of 3</div>
          </ion-col>

        </ion-row>
         </ng-container>
    </ion-grid>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
